{% extends 'base.html.twig' %}

{% block title %}Link Author to Title - Pubs Admin{% endblock %}

{% block body %}
    <div class="grid">
        <section class="panel">
            <div class="panel-head">
                <div>
                    <h2>Create relation</h2>
                    <p class="meta">Associate an author with a book.</p>
                </div>
                <a class="btn btn-secondary" href="/title-authors">← Back</a>
            </div>

            {{ include('title_author/_form.html.twig') }}
        </section>
    </div>
{% endblock %}
