{% if form is defined %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-actions">
            <button class="btn">{{ button_label|default('Save schedule') }}</button>
        </div>
    {{ form_end(form) }}
{% else %}
    <p class="meta">Form not available.</p>
{% endif %}
