{% extends 'base.html.twig' %}

{% block title %}Edit Royalty Schedule - Pubs Admin{% endblock %}

{% block body %}
    <div class="grid">
        <section class="panel">
            <div class="panel-head">
                <div>
                    <h2>{{ roysched.title ? roysched.title.title : roysched.titleId }}</h2>
                    <p class="meta">Title ID: {{ roysched.titleId }}</p>
                </div>
                <a class="btn btn-secondary" href="/roysched">← Back</a>
            </div>
            <div class="flex justify-between items-center mt-4">
                <div class="w-1/2">
                    {{ include('roysched/_form.html.twig', {'button_label': 'Update schedule', 'form': form}) }}
                </div>

                <div class="w-1/2 text-right">
                    {{ include('roysched/_delete_form.html.twig', {'roysched': roysched}) }}
                </div>
            </div>

        </section>
    </div>
{% endblock %}
